//Colors
$color-white:#fff;
$color-black: #000;
$color-primary: #55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark: #28b485;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-dark: purple;
$color-tertiary-light: pink;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;
$color-grey-dark: #777;
$color-grey-light-1:#f7f7f7;
$color-grey-light-2: #eee;
$color-tertiary-dark:#0649B8;
$color-tertiary-light: #5FA8D7;

//Grids
$grid-width: 104rem;
$horizontal-gutter: 6rem;
$vertical-gutter: 8rem;

//Margins
$margin-bottom-small: 2rem;
$margin-bottom-medium: 4rem;
$margin-bottom-large: 8rem;

//Font
$default-font-size: 1.6rem;
